.wrapper {
  }
.wrapper__top {
  display: flex;
  justify-content: space-around;
}
.wrapper__middle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.wrapper__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 20px;
}
